body,html
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
}

/* Navbar Starts */

.banner
{
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776__340.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: -150px;
}
.navbar
{
    background-color: #efefef;
    padding:19px 20px ;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.nav-item,.navbar-nav
{
    display: inline;
}

.navbar-nav
{
    margin-left: 177px;
}

.nav-link,.navbar-brand
{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
.nav-link
{
    margin-left: 40px;
    transition:color .5s;
}

.nav-link:hover
{
    color: limegreen;
}
.navbar-brand
{
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 60px;
}

.navbar-brand span
{
    color: orange!important;
    font-size: 28px;
    margin-right: 20px;
}

.banner-card
{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 45%;
    border-top: 5px solid rgb(3, 179, 3);
    margin:180px auto;
    padding: 20px;
    position: relative;
    top: 250px;
}

.banner-btn
{
    background-color: transparent;
    border: 2px solid rgb(3, 179, 3);
    padding: 13px 35px;
    color: white;
    border-radius: 10px;
    margin-left:220px;
    transition:background-color .8s ;
    
}

.banner-btn:hover
{
    background-color: rgb(3, 179, 3);;
}

/* Navbar Ends */

/* ipsam starts */

    .ipsam
    {
        margin: 80px 60px;
        background-color: rgba(255, 255, 255, 0.329);
    }
    .ipsam-content
    {
      
        width:500px;
        display: inline-block;
        /* margin-left: 20px; */
        padding: 50px;
     
    }
    .ipsam-content h1
    {
        font-size: 45px;
        color: rgb(109, 98, 98);
    }

    .ipsam-content ul
    {
        list-style-type:none;
        margin-left: -38px;
    }

    .ipsam-content ul li
    {
        margin-top: 10px;
    }
    .fa-check-double
    {
        color: green;
    }
/* ipsam ends */

/* Lorem Starts */

.lorem
{
    margin: 0px 50px 50px 50px;
    background-color: rgba(192, 184, 184, 0.116);
    padding: 50px;
   
}

.lorem-card
{
    width: 320px;
    background-color: rgba(255, 255, 255, 0.178);
    padding: 120px 20px;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    transition:background-color .8s, box-shadow .8s ;
}
.lorem-card:hover
{
    background-color: white;
    box-shadow: 4px 4px 20px 6px rgba(128, 128, 128, 0.363)    ;
}



.fa-dribbble,.fa-file-invoice,.fa-tachometer
{
    font-size: 30px;
    background-color: rgba(119, 136, 153, 0.096);
    padding: 20px;
    border-radius: 40px;
}
.fa-dribbble
{
    color: rgb(0, 162, 255);
}
.fa-file-invoice
{
    color: orangered;
}
.fa-tachometer
{
    color: crimson;
}

.lorem-card:hover .fa-dribbble
{
    background-color:rgb(0, 162, 255); 
    color: white;
}

.lorem-card:hover .fa-file-invoice
{
    background-color:orangered; 
    color: white;
}
.lorem-card:hover .fa-tachometer
{
    background-color:crimson;
    color: white;
}

.lorem-content-margin
{
    margin-top: 30px;
}
/* Lorem ends */

/* gallary starts */
.gallary img
{
    width: 300px;
    height: 300px;
    margin-left: 20px;
    opacity: 0.5;
    border-radius: 5px;
    box-shadow: 4px 4px 8px black;
    margin-top: 20px;
    transition: opacity .6s,transform 1s;
}
.gallary img:hover
{
    opacity: 1;
    transform: scale(1.1);
}
/* gallary ends */

/* Client Starts */

.clients
{
    margin: 80px 111px;
}
.clients h1
{
    text-align: center;

}
.clients hr
{
    margin-top: -2px;
    margin-bottom: 28px;
}
.client-card
{
    height: 100px;
    width: 280px;
    border:1px solid  gray;
    display: inline-block;
    margin-left: -5px;
}
.client-card img
{
    width: 100px;
    height: 50px;
    margin:20px 80px;
    transition:transform .8s;
}
.client-card:hover img
{
    transform: scale(1.3);
}
/* Client Ends */
/* footer starts */
.footer
{
    /* margin: 20px 83px; */
    background-color: black;
    color: white;
}
.footer li
{
    margin-left: -40px;
    margin-top: 10px;   
}
.footer div
{
    width:250px;
    padding: 50px 20px;
    display: inline-block;
    margin-left: 40px;
   
}
.footer ul
{
    list-style-type: none;
}

.fa-greater-than
{
    color: green;
}

.join input
{
    width: 100%;
    padding: 10px 0px;
    border-radius: 8px;
    border: none;
}

.join button
{
    padding: 7px 4px;
    background-color: green;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    position: relative;
    top: -35px;
    margin-left: 162px;
    border: none;

}
/* footer Ends */